/* TOGGLE */
.sis-toggle {
    float: right;
    line-height: 50px;
    margin-top: 5px;
    margin-right: 20px;
    color: #fff;
}

/* MENU */
.sis-menu {
    font-size: 1.1em;
}


.sis-menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #669999;
}

.sis-menu > ul a {
    display: block;
    padding: 10px 15px;

    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}

.sis-menu > ul i {
    margin-right: 6px;
}

.sis-menu > ul a:hover, .sis-menu > ul a:focus {
    background-color: #336699;
}

.sis-menu > ul .is-selected {
    border-left: 3px solid #1e94d2;
    background-color: #f3f3f3;
}

.sis-menu > ul .is-selected a {
    margin-left: -3px;
    color: #fff;
    background: #999999;
}
.sis-menu > ul .is-selected a:hover {
    margin-left: -3px;
    color: #fff;
    background: #336699;
}

/* PAGE-TITLE */
.sis-titulo-pagina {
    margin: 0;
    padding: 20px 0;

    font-size: 1.5em;
    color: #373737;
}

.ui-growl {
    top: 60px;
}

.ui-editor {
    width: 100%;
    height: 250px;
}

.singleLine {
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}