/* TOPBAR */
.sis-top-area {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 60px;
    z-index: 999;
    font-size: 10px;
    background-color: #006666;
}

/* SIDEBAR */
.sis-side-area {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 210px;
    margin-left: -211px;
    z-index: 998;
    transition: margin-left 0.5s;
    overflow-y: auto;

    border-right: 1px solid #eaeaea;
}

.sis-side-area.is-toggled {
    margin-left: 0px;
}

@media (min-width: 960px) {
    .sis-side-area {
        margin-left: 0px;
    }

    .sis-side-area.is-toggled {
        margin-left: -211px;
    }
}

/* CONTENT */
.sis-content-area {
    padding: 0 15px;
    margin-top: 50px;
    transition: margin-left 0.5s;
}

@media (min-width: 960px) {
    .sis-content-area {
        margin-left: 210px;
    }

    .sis-content-area.is-toggled {
        margin-left: 0;
    }
}

#logo-sis {
    margin-top: 5px;
    margin-left: 5px;
    width: 200px;
    height: 45px;
}

body > header > div > div > div:nth-child(2) > h1 {
    text-align: center;
}